.TrackBox {
  margin-top: 1rem;
  display: inline-block;
  width: 240px;
  height: 300px;
}

.album-icon > img {
  cursor: pointer;
}

.album-icon > img {
  border-radius: 0.7rem;
  width: 200px;
  height: 200px;
}

.track-name {
  color: white;
  font-size: 18px;
}

.track-name:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: white;
}

.artist-name {
  color: rgb(195, 195, 195);
}
